/* MMM-airquality.css */

.city-aqi {
  font-size: 24px;
  margin-bottom: 10px;
}

.pollen-count-title {
  font-size: 22px;
  margin-bottom: 5px;
}

.pollen-counts .pollen-source {
  font-size: 20px;
  margin-bottom: 5px;
}

.pollen-species {
  margin-left: 10px;
}

.separator {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #fff;
}

.forecast-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.forecast-table {
  width: 70%;
  border-collapse: collapse;
}

.forecast-table th,
.forecast-table td {
  padding: 5px;
  text-align: left;
}

.forecast-table th {
  border-bottom: 1px solid #fff;
}

.forecast-table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0);
}

.forecast-row td {
  padding: 5px;
}

@media screen and (max-width: 400px) {
  .forecast-table th,
  .forecast-table td {
    font-size: 12px;
  }
}
