.MMM-airquality .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.MMM-airquality .aqi-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.MMM-airquality .city {
  font-size: 22px;
  font-weight: bold;
}

.MMM-airquality .aqi {
  font-size: 26px;
  font-weight: bold;
  color: yellow; /* Color the AQI value */
}

.MMM-airquality .pollutant-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 16px;
}

.MMM-airquality .pollutant-label {
  text-transform: lowercase;
  font-weight: bold;
  color: #cccccc;
}

.MMM-airquality .pollutant-value {
  color: white;
}
